@{
  Layout = "_Layout";
}
<body>
    <div class="container">
        <div class="jumbotron">
        <h1>Address-Book</h1>
        </div>
        <br>
        <br>
        <h3>Add a Contact </h3>
        <br>
        <div class="formone">
        <form  action="/contact/new" method="post">
            <label for="name">Full Name  </label>
            <input type="text" name="name" required>
            <br>
            <br>
            <label for="phone">Phone Num</label>
            <input type="number" name="phone" required>
            <br>
            <br>
            <label for="address">Address</label>
            <input type="text" name="address" required>
            <br>
            <br>
        <button type='submit'>Add Contact</button>
        </div>
        <br>
        <br>
        <p><a href="/">Back Home</a></p>
        </div>
</body>
