@{
  Layout = "_Layout";
}
@{
  Layout = "_Layout";
}
<body>
    <div class="container">
        <div class="jumbotron">
        <h1>Address-Book</h1>
        </div>

<h1>Your Address-Book has been cleared!</h1>
<p><a href="/">Add a new Contact</a></p>
<p><a href="/">Return to Main Page</a></p>
</div>
</body>
