@{
  Layout = "_Layout";
}
<body>
    <div class="container">
        <div class="jumbotron">
        <h1>Address-Book</h1>
        </div>
        <h2>You created a Contact!!!</h2>

    <p><a href='/'>View Contact List</a></p>    
    <p><a href='/'>Return to Main Page</a></p>
</div>
</body>
