@{
  Layout = "_Layout";
}
<body>
    <div class="container">
        <div class="jumbotron">
        <h1>Address-Book</h1>
        </div>

        <h3>Contact List</h3>
        @if (@Model.Count == 0)
        {
        <h4>No Contacts yet!!!!</h4>
        }
        <ol>
        @foreach(var contact in Model)
        {
        <li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
        }
        </ol>

        <form  action="/clearallcontacts" method="post">
          <button type="submit" name="button">Clear AddressBook</button>
        </form>

        <h3><a href="/addacontact">Add a Contact</a></h3>

</div>
</body>
